ATTACKER_BACKEND=openrouter
JUDGE_BACKEND=openrouter
TARGET_BACKEND=openrouter

# openrouter config stuff
OPENROUTER_API_KEY=
OPENROUTER_ATTACKER_MODEL=nousresearch/hermes-4-70b
OPENROUTER_JUDGE_MODEL=meta-llama/llama-3.3-70b-instruct
OPENROUTER_TARGET_MODEL=meta-llama/llama-3.3-70b-instruct

# in case you want to use ollama or gemini
OLLAMA_ATTACKER_MODEL=
OLLAMA_JUDGE_MODEL=
GEMINI_ATTACKER_MODEL=
GEMINI_JUDGE_MODEL=
GEMINI_API_KEY=

# fuzzer settings
FUZZER_MODE=standard
MAX_QUERIES=100
MAX_TURNS=7
MCTS_MAX_ITERATIONS=50
MCTS_MAX_TURNS=5
MCTS_BRANCH_FACTOR=3